body {
  background-color: #F3EBF6;
  font-family: 'Ubuntu', sans-serif;
}
.expand {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: white;
  }

  .expandedGoal{
      float: right;
      margin-right: 10vw;
      width: 22vw;
      border: thin solid black;
      background-color: white;
  }

  .completedWrapper {
    height: 5vh;
    position: relative;
    width: 7vw;
  }

  #pie {
    width: 30vw;
    height: 70vh;
    margin: 0;
    padding: 0;
    float: right;

  }

  .completedIcon {
    /* background: radial-gradient(ellipse at center, rgba(0,128,172,1)0%,rgba(0,128,172,1)70%, rgba(0,128,172,0)70.3%); */
    background-color: green;
    border-radius: 6vw;
    padding: .5vw;
    width: 60px;
    height: 5px;
  }

  .incompleteWrapper {
    height: 5vh;
    position: relative;
    width: 7vw;
  }

  .incompleteIcon {
    /* background: radial-gradient(ellipse at center, rgba(0,128,172,1)0%,rgba(0,128,172,1)70%, rgba(0,128,172,0)70.3%); */
    background-color: rgb(133, 18, 18);
    border-radius: 6vw;
    padding: .5vw;
    width: 60px;
    height: 5px;
  }
  
  .expand {
    position: relative;
    padding-left: 30px;
    height: 50px;
    line-height: 50px;
    margin: 5px;
    border: 1px solid #aaa;
    border-radius: 8px;
    width: 200px;
    background: #cccccc; /* Old browsers */
  background: -moz-linear-gradient(top, #cccccc 0%, #ffffff 25%, #ffffff 75%, #cccccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(25%,#ffffff), color-stop(75%,#ffffff), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cccccc 0%,#ffffff 25%,#ffffff 75%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cccccc 0%,#ffffff 25%,#ffffff 75%,#cccccc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cccccc 0%,#ffffff 25%,#ffffff 75%,#cccccc 100%); /* IE10+ */
  background: linear-gradient(to bottom, #cccccc 0%,#ffffff 25%,#ffffff 75%,#cccccc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
    
    box-shadow: 2px 2px 3px #666;
    user-select: none;
  }
  
  .expand button:before {
    position: absolute;
    content: "";
    left: 4px;
    top: 50%;
    margin-top: -10px;
    border-left: 20px solid #ccc;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  
  .expand button:after {
    position: absolute;
    content: "";
    left: 4px;
    top: 50%;
    margin-top: -10px;
    border-left: 5px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  
  .expand button:hover {
    border-color: #777;
    box-shadow: 3px 3px 5px #333;
    
    background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top, #dddddd 0%, #ffffff 25%, #ffffff 75%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(25%,#ffffff), color-stop(75%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dddddd 0%,#ffffff 25%,#ffffff 75%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dddddd 0%,#ffffff 25%,#ffffff 75%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dddddd 0%,#ffffff 25%,#ffffff 75%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(to bottom, #dddddd 0%,#ffffff 25%,#ffffff 75%,#dddddd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
  }
  
  .expand button:hover:before {
    border-left-color: #777;
  }
  
  .expand button:active {
    background: #eee;
    box-shadow: inset 0 1px 1px #666;
  }

#orgChoice {
  float: right;
}

