body {
  background-color: #c8d8e4;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

.expand {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .expandedGoal{
      float: right;
      padding: 1vw;
      margin-right: 10vw;
      margin-bottom: 10px;
      width: 22vw;
      background-color: #f2f2f2;
  }

 #pie {
    width: 30vw;
    height: 70vh;
    margin: 0;
    padding: 0;
    float: right;
  }

  .completedWrapper {
    position: relative;
    z-index: 1;
    margin-left: -9px;
    height: 5vh;
    position: relative;
    width: 7vw;
  }

  .completedIcon {
    /* background: radial-gradient(ellipse at center, rgba(0,128,172,1)0%,rgba(0,128,172,1)70%, rgba(0,128,172,0)70.3%); */
    background-color: #ffffff;
    border: 4vw;
    padding: .5vw .5vw .5vw 10px;
    width: 60px;
    height: 5px;
    margin-left: 0;
  }

  .incompleteWrapper {
    position: relative;
    z-index: 1;
    margin-left: -9px;
    height: 5vh;
    position: relative;
    width: 7vw;
  }

  .incompleteIcon {
    /* background: radial-gradient(ellipse at center, rgba(0,128,172,1)0%,rgba(0,128,172,1)70%, rgba(0,128,172,0)70.3%); */
    background-color: #a8a8a8;
    color: black;
    border: 4vw;
    padding: .5vw .5vw .5vw 10px;
    width: 60px;
    height: 5px;
    margin-left: 0;
  }

  #selectedGoalButton {
    background-color: #ffffff;
    color: #2b6777;
    font-weight: bolder;
    margin-right: 0;
  }
  
  .expand {
    width: 300px;
    background-color: #2b6777;
    margin-right: 0;
    position: relative;
    z-index: 2;
  }
  
  /* .expand button:before {
    position: absolute;
    content: "";
    left: 4px;
    top: 50%;
    margin-top: -10px;
    border-left: 20px solid #ccc;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  } */
  
  /* .expand button:after {
    position: absolute;
    content: "";
    left: 4px;
    top: 50%;
    margin-top: -10px;
    border-left: 5px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  } */
  
  .expand button:hover {
    border-color: #777;
    box-shadow: 3px 3px 5px #333;
  }
  
  /* .expand button:hover:before {
    border-left-color: #777;
  } */
  
  .expand button:active {
    background: #eee;
    box-shadow: inset 0 1px 1px #666;
  }

#logoutButton {
  /* padding: .25vh .25vw; */
  float: right;
}

#orgChoice {
  /* padding: .25vh .25vw; */
  padding: 0;
  float: left;
}

#bodyDiv  {
  padding: 0 10px 15px 15px;
}

#joinOrg {
  padding: .25vh .25vw;
  clear: right;
  float: right;
}

#createOrg {
  padding: .25vh .25vw;
  clear: right;
  float: right;
}

#createRel {
  padding: .25vh .25vw;
  clear: right;
  float: right;
}

#header {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2px;
  
  padding: 10px 0px 10px 0px;
  background-color: #ffffff;
}

#headerText  {
  padding: 0 15vw 0 0;
  font-size: 5vw;
  margin: 0;
}

#headerButtons {
  padding-right: 10px;
  padding-left: 10px;
}

.userCommentP {
  text-align: right;
  margin: 0;
  background-color: #ceebe4;
  padding: 3px 0;
  margin: auto;
  width: 100%;
  text-align: right;
}

.otherCommentP {
  text-align: left;
  margin: 0;
  background-color: #c8d8e4;
  padding: 3px 0;
  margin: auto;
  width: 100%;
}

#selectOrgButton {
  width: auto;
  background-color: #52ab98;
}

#logoutButton {
  background-color: #52ab98;
  width: auto;
}

#newGoalMenuButton {
  background-color: #2b6777;
  width: 300px;
}

#newGoalMenuButtonSelected {
  background-color: #ffffff;
  color: #2b6777;
  width: 300px;
  font-weight: bolder;
}

#goalCompletionButton {
  background-color: #52ab98;
  width: 100%;
}

#selectRelationshipButton {
  width: auto;
  background-color: #52ab98;
}

#createGoalButton {
  background-color: #52ab98;
  width: 100%;
}

#step1 {
  width: 95%;
  height: 30px;
}

#goalInfo {
  width: 95%;
  height: 30px;
}

#dueDate {
  height: 30px;
}

#goalInfoHeader {
  margin: auto;
  text-align: center;
}

#goalTitleHeader {
  font-size: 1.5vw;
  margin-bottom: 0;
}

#userRelationships {
  margin-bottom: 0;
}

#orgDrop {
  height: 40px;
  font-size: 100%;
}

#relDrop {
  height: 40px;
  font-size: 100%;
}

#commentBackground {
  background-color: #f2f2f2;
  border: black 1px;
  padding: 5px;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: 100%; */
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.topRightButtons {
  background-color: #52ab98;
  height: 30px;
}

.topRightInput {
  height: 20px;
}